image: docker:24

services:
  - docker:24-dind

stages:
  - build
  - test

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

# ---------------- Build staging Docker image ----------------
build_staging_env:
  stage: build
  script:
    - echo "Frontend artifacts automatically received from SUT pipeline"
    # Build Docker image (Dockerfile lives in TAS repo root)
    - docker build -t webshop-staging-tas .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'

# ---------------- Run TAS tests inside container ----------------
run_tas_in_container:
  stage: test
  dependencies:
    - build_staging_env
  script:
    - echo "Running staging container with TAS tests..."
    - docker run --rm webshop-staging-tas
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
