image: docker:24

services:
  - docker:24-dind

stages:
  - staging_env_test

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

# --Build staging environment Docker image and run TAS against it -------------
build_staging_env_and_run_tas:
  stage: staging_env_test
  privileged: true    # required for Docker-in-Docker
  script:
    - echo "Build staging Docker image ...  "
    # GitLab automatically forwards artifacts from SUT pipeline when using `trigger: strategy: depend`
    # Dockerfile expects webshop/dist/ to exist, which is now present
    - docker build -t webshop-staging-tas .
    - echo "Running staging container with TAS tests..."
    # Mount SUT artifacts into /var/www/webshop/frontend in container
    # $CI_PROJECT_DIR/dist contains the dist/ artifacts forwarded from SUT pipeline
    - docker run --rm -v "$CI_PROJECT_DIR/dist:/var/www/webshop/frontend" webshop-staging-tas
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
