image: maven:3.9.9-eclipse-temurin-17

stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B -V"
  HEADLESS: "true"

# Job to run TAS
run_tas:
  stage: test
  script:
    - mvn test -Pgames
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
